/* Master Styles */

body {
    font-family: "Oswald", "serif";
    margin: 0;
}

/* Nav styles */

.nav-wrapper {
    margin: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav > .logo-wrapper > .logo {
    display: flex;
    text-transform: uppercase;
    font-size: 1.4em;
}

nav > .nav-links {
    display: flex;
    text-transform: uppercase;
}

.nav-link {
    margin-right: 10px;
    height: 22px;
    border-bottom: 2px solid transparent;
    padding-bottom: 7px;
    font-size: 1.4em;
    transition: border-bottom 0.5s;

}

.nav-link a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:hover {
    border-bottom: 2px solid;
    border-color: black;
}

.nav-link a:hover {
    color: black;
}

/* Calendar Styling */

.calendar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-left: 6em;
    padding-right: 4em;
    grid-gap: 1px;
    padding-top: .5em;
}

.month-wrapper{
    display: flex;
    justify-content: space-between;
}

.year-wrapper{
    display:flex;
}
.weekday-header-wrapper {
    outline: 1px solid black;
    text-align: center;
}

.inside-day {
    display: flex;
    justify-content: space-between;
    height: 6em;
    outline: 1px solid black;
    box-sizing: border-box;
    padding-left: .5em;
}

.day-hidden {
    color: rgba(0, 0, 0, 0.5);
}

.calendar-header-wrapper{
    padding-left: 6em;
    padding-right: 4em;
    display: flex;
    justify-content: space-between;
}

input[id="month-list"] {
    border: 2px solid black;
    font-size: large;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    height: 1.5em;
    width: 7.5em;
    color: black;
    font-family: "Oswald", "serif";
    opacity: 1;
    text-align: center;
}

::placeholder {
    color: black;
    font-family: "Oswald", "serif";
    font-size: large;
    opacity: 1;
}

input[id="year-list"] {
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    padding-bottom:5px;
    height: 1.5em;
    width: 4.2em;
    color: black;
    font-size:large;
    font-family: "Oswald", "serif";
    opacity: 1;
    text-align: center;
}

.month-wrapper > div {
    margin-right: 2px;
    display: flex;
}

.year-wrapper > div {
    margin-right: 2px;
    display: flex;
}


.next-button > button {
    border: solid black;
    margin-top: 6.5px;
    height: 15px;
    width: 10px;
    background-color: transparent;
    border-width: 0 3px 3px 0;
    display: block;
    transform: rotate(-45deg);
}

.previous-button > button {
    border: solid black;
    margin-top: 6.5px;
    height: 15px;
    width: 10px;
    background-color: transparent;
    border-width: 0 3px 3px 0;
    display: block;
    transform: rotate(135deg);
}

.inside-day > .button {
    display: block;
    height: 20px;
    width: 20px;
    background:
            linear-gradient(#000,#000),
            linear-gradient(#000,#000);
    background-position: center;
    background-size: 75% 2px, 2px 75%;
    background-repeat:no-repeat;
    border: none;
    border-right: none;
    border-bottom: none;
}

/* Pop Up Styling */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup > h1 {
    margin-top: 0;
    color: black;
    position: center;
}

.popup > .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #777;
}

.popup > .pop-up-content {
    overflow: auto;
}

input[class="invisible-button"]{
    visibility: hidden;
}


