body {
    background: #404040;
    font-family: "Oswald", sans-serif;
    border: 0;
    margin: 0;
    color: white;
    padding: 0;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

/* Nav styling */

.nav-button div {
    height: 3px;
    margin-top: 5px;
    background-color: white;
    width: 40px;
    border-radius: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #404040;
}

.right-side{
    font-size: x-large;
    display: flex;
}

.right-side > .links {
    font-size: x-large;
    display: flex;
}

.right-side > span {
    display: none;
    margin-right: 20px;
}

.left-side {
    font-size: xx-large;
}

.link-wrapper {
    margin-right: 25px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.link-wrapper a{
    text-decoration: none;
    color: white;
    transition-delay: 0.05s;
}

span {
    color: white;
}

.link-wrapper a:hover{
    color: lightgrey;
}

.link-wrapper:hover {
    border-bottom: 2px solid white;
}

.link-wrapper {
    margin-right: 25px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-button {
    display: none;
    margin: 5px 0 0 5px;
}

/* Transition */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*

Main Styling

 */

main {
    background: white;
    font-family: 'Noto Sans JP', sans-serif;
}

.content {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    width: 60%;
    color: black;
}

.article > p {
    font-size: x-large;
    font-weight: lighter;
}

.article-header {
    display: flex;
    justify-content: space-between;
}

.article-header > div > h3 {
    font-weight: 200;
    color: #606060;
}

.article-title > h2 > a {
    text-decoration: none;
    color: #808080;
    border-bottom: 1px solid transparent;
    transition: color, border 0.5s;
}

.article-title > h2 > a:hover {
    color: #404040;
    border-color: #404040;
}

/* Footer */

footer {
    position: absolute;
    text-align: center;
    background: black;
    width: 100%;
    padding-bottom: 10px;
}

.links-wrapper {
    margin: 10px;
}

.links-wrapper > a {
    margin-right: 5px;
    text-decoration: none;
}

/* side-bar styling */

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 50px 10px 0 10px;
    background: white;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.overlay:target {
    opacity: 1;
    visibility: visible;
}

.side-bar > .links > .link-wrapper > a {
    color: black;
    font-size: xx-large;
}

.side-bar {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

.close-overlay {
    border: none;
    background: white;
    font-size: 75px;
    padding-left: 20px;
    color: black;
    transition: color;
}

.overlay > a {
    text-decoration: none;
}

.close-overlay:hover {
    color: #606060;
}

/* Responsive Options */

@media all and (max-width: 600px) {
    .links-wrapper > a > img {
        height: 30px;
    }
    .footer-message> h1 {
        font-size: large;
    }
    .right-side > .links {
        display: none;
    }

    .right-side > span {
        display: block;
    }

    .left-side > span {
        display: none;
    }

    .left-side > a {
        display: block;
    }
    .content {
        width: 95%;
    }
}

@media all and (max-width: 375px) {
    .description > p {
        font-size: large;
    }
    .content {
        width: 95%;
    }

    .description > h1 {
        font-size: x-large;
    }
    .content {
        width: 95%;
    }
}

@media all and (max-width: 321px) {
    .circle-me > img {
        height: 100px;
    }
    .circle-me {
        padding-top: 120px;
    }
}